body {
    background-color: #3f4455;
}

.row{
    height: 50px;
    width: 50px;
    background-color: black;
}

#roja{
    background-color: red;
}

#amarilla{
    background-color: yellow;
}

#verde{
    background-color: green;
}

.encendido
{
-moz-box-shadow: 0 0 5px 5px #ddd;
-webkit-box-shadow: 0 0 5px 5px #ddd;
box-shadow: 0 0 5px 5px #ddd;
}
